<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozt.traveler.dao.OztTravelTripMapper">
  <resultMap id="BaseResultMap" type="com.ozt.traveler.entity.OztTravelTrip">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="trip_date" jdbcType="DATE" property="tripDate" />
    <result column="trip_time" jdbcType="TIME" property="tripTime" />
    <result column="dep_city_id" jdbcType="INTEGER" property="depCityId" />
    <result column="departure" jdbcType="VARCHAR" property="departure" />
    <result column="des_city_id" jdbcType="INTEGER" property="desCityId" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="trip_route" jdbcType="VARCHAR" property="tripRoute" />
    <result column="traffic" jdbcType="TINYINT" property="traffic" />
    <result column="driver" jdbcType="VARCHAR" property="driver" />
    <result column="driver_mobile" jdbcType="VARCHAR" property="driverMobile" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="hotel_id" jdbcType="INTEGER" property="hotelId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, trip_date, trip_time, dep_city_id, departure, des_city_id, destination, 
    trip_route, traffic, driver, driver_mobile, status, remark, create_time, hotel_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ozt_travel_trip
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ozt_travel_trip
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ozt.traveler.entity.OztTravelTrip">
    insert into ozt_travel_trip (id, user_id, trip_date, 
      trip_time, dep_city_id, departure, 
      des_city_id, destination, trip_route, 
      traffic, driver, driver_mobile, 
      status, remark, create_time, 
      hotel_id)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{tripDate,jdbcType=DATE}, 
      #{tripTime,jdbcType=TIME}, #{depCityId,jdbcType=INTEGER}, #{departure,jdbcType=VARCHAR}, 
      #{desCityId,jdbcType=INTEGER}, #{destination,jdbcType=VARCHAR}, #{tripRoute,jdbcType=VARCHAR}, 
      #{traffic,jdbcType=TINYINT}, #{driver,jdbcType=VARCHAR}, #{driverMobile,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{hotelId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ozt.traveler.entity.OztTravelTrip">
    insert into ozt_travel_trip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="tripDate != null">
        trip_date,
      </if>
      <if test="tripTime != null">
        trip_time,
      </if>
      <if test="depCityId != null">
        dep_city_id,
      </if>
      <if test="departure != null">
        departure,
      </if>
      <if test="desCityId != null">
        des_city_id,
      </if>
      <if test="destination != null">
        destination,
      </if>
      <if test="tripRoute != null">
        trip_route,
      </if>
      <if test="traffic != null">
        traffic,
      </if>
      <if test="driver != null">
        driver,
      </if>
      <if test="driverMobile != null">
        driver_mobile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="hotelId != null">
        hotel_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tripDate != null">
        #{tripDate,jdbcType=DATE},
      </if>
      <if test="tripTime != null">
        #{tripTime,jdbcType=TIME},
      </if>
      <if test="depCityId != null">
        #{depCityId,jdbcType=INTEGER},
      </if>
      <if test="departure != null">
        #{departure,jdbcType=VARCHAR},
      </if>
      <if test="desCityId != null">
        #{desCityId,jdbcType=INTEGER},
      </if>
      <if test="destination != null">
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="tripRoute != null">
        #{tripRoute,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null">
        #{traffic,jdbcType=TINYINT},
      </if>
      <if test="driver != null">
        #{driver,jdbcType=VARCHAR},
      </if>
      <if test="driverMobile != null">
        #{driverMobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hotelId != null">
        #{hotelId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ozt.traveler.entity.OztTravelTrip">
    update ozt_travel_trip
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tripDate != null">
        trip_date = #{tripDate,jdbcType=DATE},
      </if>
      <if test="tripTime != null">
        trip_time = #{tripTime,jdbcType=TIME},
      </if>
      <if test="depCityId != null">
        dep_city_id = #{depCityId,jdbcType=INTEGER},
      </if>
      <if test="departure != null">
        departure = #{departure,jdbcType=VARCHAR},
      </if>
      <if test="desCityId != null">
        des_city_id = #{desCityId,jdbcType=INTEGER},
      </if>
      <if test="destination != null">
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="tripRoute != null">
        trip_route = #{tripRoute,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null">
        traffic = #{traffic,jdbcType=TINYINT},
      </if>
      <if test="driver != null">
        driver = #{driver,jdbcType=VARCHAR},
      </if>
      <if test="driverMobile != null">
        driver_mobile = #{driverMobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hotelId != null">
        hotel_id = #{hotelId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ozt.traveler.entity.OztTravelTrip">
    update ozt_travel_trip
    set user_id = #{userId,jdbcType=INTEGER},
      trip_date = #{tripDate,jdbcType=DATE},
      trip_time = #{tripTime,jdbcType=TIME},
      dep_city_id = #{depCityId,jdbcType=INTEGER},
      departure = #{departure,jdbcType=VARCHAR},
      des_city_id = #{desCityId,jdbcType=INTEGER},
      destination = #{destination,jdbcType=VARCHAR},
      trip_route = #{tripRoute,jdbcType=VARCHAR},
      traffic = #{traffic,jdbcType=TINYINT},
      driver = #{driver,jdbcType=VARCHAR},
      driver_mobile = #{driverMobile,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      hotel_id = #{hotelId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.ozt.traveler.OztTravelTrip">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="trip_date" jdbcType="DATE" property="tripDate" />
    <result column="trip_time" jdbcType="TIME" property="tripTime" />
    <result column="dep_city_id" jdbcType="INTEGER" property="depCityId" />
    <result column="departure" jdbcType="VARCHAR" property="departure" />
    <result column="des_city_id" jdbcType="INTEGER" property="desCityId" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="trip_route" jdbcType="VARCHAR" property="tripRoute" />
    <result column="traffic" jdbcType="TINYINT" property="traffic" />
    <result column="driver" jdbcType="VARCHAR" property="driver" />
    <result column="driver_mobile" jdbcType="VARCHAR" property="driverMobile" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="hotel_id" jdbcType="INTEGER" property="hotelId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, trip_date, trip_time, dep_city_id, departure, des_city_id, destination, 
    trip_route, traffic, driver, driver_mobile, status, remark, create_time, hotel_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ozt_travel_trip
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ozt_travel_trip
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ozt.traveler.OztTravelTrip">
    insert into ozt_travel_trip (id, user_id, trip_date, 
      trip_time, dep_city_id, departure, 
      des_city_id, destination, trip_route, 
      traffic, driver, driver_mobile, 
      status, remark, create_time, 
      hotel_id)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{tripDate,jdbcType=DATE}, 
      #{tripTime,jdbcType=TIME}, #{depCityId,jdbcType=INTEGER}, #{departure,jdbcType=VARCHAR}, 
      #{desCityId,jdbcType=INTEGER}, #{destination,jdbcType=VARCHAR}, #{tripRoute,jdbcType=VARCHAR}, 
      #{traffic,jdbcType=TINYINT}, #{driver,jdbcType=VARCHAR}, #{driverMobile,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{hotelId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ozt.traveler.OztTravelTrip">
    insert into ozt_travel_trip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="tripDate != null">
        trip_date,
      </if>
      <if test="tripTime != null">
        trip_time,
      </if>
      <if test="depCityId != null">
        dep_city_id,
      </if>
      <if test="departure != null">
        departure,
      </if>
      <if test="desCityId != null">
        des_city_id,
      </if>
      <if test="destination != null">
        destination,
      </if>
      <if test="tripRoute != null">
        trip_route,
      </if>
      <if test="traffic != null">
        traffic,
      </if>
      <if test="driver != null">
        driver,
      </if>
      <if test="driverMobile != null">
        driver_mobile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="hotelId != null">
        hotel_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tripDate != null">
        #{tripDate,jdbcType=DATE},
      </if>
      <if test="tripTime != null">
        #{tripTime,jdbcType=TIME},
      </if>
      <if test="depCityId != null">
        #{depCityId,jdbcType=INTEGER},
      </if>
      <if test="departure != null">
        #{departure,jdbcType=VARCHAR},
      </if>
      <if test="desCityId != null">
        #{desCityId,jdbcType=INTEGER},
      </if>
      <if test="destination != null">
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="tripRoute != null">
        #{tripRoute,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null">
        #{traffic,jdbcType=TINYINT},
      </if>
      <if test="driver != null">
        #{driver,jdbcType=VARCHAR},
      </if>
      <if test="driverMobile != null">
        #{driverMobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hotelId != null">
        #{hotelId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ozt.traveler.OztTravelTrip">
    update ozt_travel_trip
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tripDate != null">
        trip_date = #{tripDate,jdbcType=DATE},
      </if>
      <if test="tripTime != null">
        trip_time = #{tripTime,jdbcType=TIME},
      </if>
      <if test="depCityId != null">
        dep_city_id = #{depCityId,jdbcType=INTEGER},
      </if>
      <if test="departure != null">
        departure = #{departure,jdbcType=VARCHAR},
      </if>
      <if test="desCityId != null">
        des_city_id = #{desCityId,jdbcType=INTEGER},
      </if>
      <if test="destination != null">
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="tripRoute != null">
        trip_route = #{tripRoute,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null">
        traffic = #{traffic,jdbcType=TINYINT},
      </if>
      <if test="driver != null">
        driver = #{driver,jdbcType=VARCHAR},
      </if>
      <if test="driverMobile != null">
        driver_mobile = #{driverMobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hotelId != null">
        hotel_id = #{hotelId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ozt.traveler.OztTravelTrip">
    update ozt_travel_trip
    set user_id = #{userId,jdbcType=INTEGER},
      trip_date = #{tripDate,jdbcType=DATE},
      trip_time = #{tripTime,jdbcType=TIME},
      dep_city_id = #{depCityId,jdbcType=INTEGER},
      departure = #{departure,jdbcType=VARCHAR},
      des_city_id = #{desCityId,jdbcType=INTEGER},
      destination = #{destination,jdbcType=VARCHAR},
      trip_route = #{tripRoute,jdbcType=VARCHAR},
      traffic = #{traffic,jdbcType=TINYINT},
      driver = #{driver,jdbcType=VARCHAR},
      driver_mobile = #{driverMobile,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      hotel_id = #{hotelId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>