<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozt.traveler.dao.OztTravelCityMapper">
  <resultMap id="BaseResultMap" type="com.ozt.traveler.entity.OztTravelCity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="travel_date" jdbcType="DATE" property="travelDate" />
    <result column="travel_trip_id" jdbcType="INTEGER" property="travelTripId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, city_id, travel_date, travel_trip_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ozt_travel_city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ozt_travel_city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ozt.traveler.entity.OztTravelCity">
    insert into ozt_travel_city (id, user_id, city_id, 
      travel_date, travel_trip_id, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{travelDate,jdbcType=DATE}, #{travelTripId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ozt.traveler.entity.OztTravelCity">
    insert into ozt_travel_city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="travelDate != null">
        travel_date,
      </if>
      <if test="travelTripId != null">
        travel_trip_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="travelDate != null">
        #{travelDate,jdbcType=DATE},
      </if>
      <if test="travelTripId != null">
        #{travelTripId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ozt.traveler.entity.OztTravelCity">
    update ozt_travel_city
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="travelDate != null">
        travel_date = #{travelDate,jdbcType=DATE},
      </if>
      <if test="travelTripId != null">
        travel_trip_id = #{travelTripId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ozt.traveler.entity.OztTravelCity">
    update ozt_travel_city
    set user_id = #{userId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      travel_date = #{travelDate,jdbcType=DATE},
      travel_trip_id = #{travelTripId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.ozt.traveler.OztTravelCity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="travel_date" jdbcType="DATE" property="travelDate" />
    <result column="travel_trip_id" jdbcType="INTEGER" property="travelTripId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, city_id, travel_date, travel_trip_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ozt_travel_city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ozt_travel_city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ozt.traveler.OztTravelCity">
    insert into ozt_travel_city (id, user_id, city_id, 
      travel_date, travel_trip_id, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{travelDate,jdbcType=DATE}, #{travelTripId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ozt.traveler.OztTravelCity">
    insert into ozt_travel_city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="travelDate != null">
        travel_date,
      </if>
      <if test="travelTripId != null">
        travel_trip_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="travelDate != null">
        #{travelDate,jdbcType=DATE},
      </if>
      <if test="travelTripId != null">
        #{travelTripId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ozt.traveler.OztTravelCity">
    update ozt_travel_city
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="travelDate != null">
        travel_date = #{travelDate,jdbcType=DATE},
      </if>
      <if test="travelTripId != null">
        travel_trip_id = #{travelTripId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ozt.traveler.OztTravelCity">
    update ozt_travel_city
    set user_id = #{userId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      travel_date = #{travelDate,jdbcType=DATE},
      travel_trip_id = #{travelTripId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>