<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozt.traveler.dao.OztTravelResourceMapper">
  <resultMap id="BaseResultMap" type="com.ozt.traveler.entity.OztTravelResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="resourcetype" jdbcType="INTEGER" property="resourcetype" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describtion" jdbcType="VARCHAR" property="describtion" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="size" jdbcType="DOUBLE" property="size" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="travel_date" jdbcType="DATE" property="travelDate" />
    <result column="user_trip_id" jdbcType="INTEGER" property="userTripId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="uploadtime" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, resourcetype, name, describtion, address, path, size, type, travel_date, 
    user_trip_id, city_id, uploadtime, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ozt_travel_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ozt_travel_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ozt.traveler.entity.OztTravelResource">
    insert into ozt_travel_resource (id, user_id, resourcetype, 
      name, describtion, address, 
      path, size, type, travel_date, 
      user_trip_id, city_id, uploadtime, 
      createtime)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{resourcetype,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{describtion,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{size,jdbcType=DOUBLE}, #{type,jdbcType=TINYINT}, #{travelDate,jdbcType=DATE}, 
      #{userTripId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{uploadtime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ozt.traveler.entity.OztTravelResource">
    insert into ozt_travel_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="resourcetype != null">
        resourcetype,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="describtion != null">
        describtion,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="travelDate != null">
        travel_date,
      </if>
      <if test="userTripId != null">
        user_trip_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="uploadtime != null">
        uploadtime,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="resourcetype != null">
        #{resourcetype,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describtion != null">
        #{describtion,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="travelDate != null">
        #{travelDate,jdbcType=DATE},
      </if>
      <if test="userTripId != null">
        #{userTripId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ozt.traveler.entity.OztTravelResource">
    update ozt_travel_resource
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="resourcetype != null">
        resourcetype = #{resourcetype,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describtion != null">
        describtion = #{describtion,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="travelDate != null">
        travel_date = #{travelDate,jdbcType=DATE},
      </if>
      <if test="userTripId != null">
        user_trip_id = #{userTripId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="uploadtime != null">
        uploadtime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ozt.traveler.entity.OztTravelResource">
    update ozt_travel_resource
    set user_id = #{userId,jdbcType=INTEGER},
      resourcetype = #{resourcetype,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      describtion = #{describtion,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      size = #{size,jdbcType=DOUBLE},
      type = #{type,jdbcType=TINYINT},
      travel_date = #{travelDate,jdbcType=DATE},
      user_trip_id = #{userTripId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      uploadtime = #{uploadtime,jdbcType=TIMESTAMP},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.ozt.traveler.OztTravelResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="resourcetype" jdbcType="INTEGER" property="resourcetype" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describtion" jdbcType="VARCHAR" property="describtion" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="size" jdbcType="DOUBLE" property="size" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="travel_date" jdbcType="DATE" property="travelDate" />
    <result column="user_trip_id" jdbcType="INTEGER" property="userTripId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="uploadtime" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, resourcetype, name, describtion, address, path, size, type, travel_date, 
    user_trip_id, city_id, uploadtime, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ozt_travel_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ozt_travel_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ozt.traveler.OztTravelResource">
    insert into ozt_travel_resource (id, user_id, resourcetype, 
      name, describtion, address, 
      path, size, type, travel_date, 
      user_trip_id, city_id, uploadtime, 
      createtime)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{resourcetype,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{describtion,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{size,jdbcType=DOUBLE}, #{type,jdbcType=TINYINT}, #{travelDate,jdbcType=DATE}, 
      #{userTripId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{uploadtime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ozt.traveler.OztTravelResource">
    insert into ozt_travel_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="resourcetype != null">
        resourcetype,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="describtion != null">
        describtion,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="travelDate != null">
        travel_date,
      </if>
      <if test="userTripId != null">
        user_trip_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="uploadtime != null">
        uploadtime,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="resourcetype != null">
        #{resourcetype,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describtion != null">
        #{describtion,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="travelDate != null">
        #{travelDate,jdbcType=DATE},
      </if>
      <if test="userTripId != null">
        #{userTripId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ozt.traveler.OztTravelResource">
    update ozt_travel_resource
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="resourcetype != null">
        resourcetype = #{resourcetype,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describtion != null">
        describtion = #{describtion,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="travelDate != null">
        travel_date = #{travelDate,jdbcType=DATE},
      </if>
      <if test="userTripId != null">
        user_trip_id = #{userTripId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="uploadtime != null">
        uploadtime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ozt.traveler.OztTravelResource">
    update ozt_travel_resource
    set user_id = #{userId,jdbcType=INTEGER},
      resourcetype = #{resourcetype,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      describtion = #{describtion,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      size = #{size,jdbcType=DOUBLE},
      type = #{type,jdbcType=TINYINT},
      travel_date = #{travelDate,jdbcType=DATE},
      user_trip_id = #{userTripId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      uploadtime = #{uploadtime,jdbcType=TIMESTAMP},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>